html, body{
    width: 100%;
}

#number-list {
    display: flex;
    flex-wrap: wrap;
}

.displayflexcolumn {
    display: flex;
    flex-direction: column;
}

input {
    width: 100px;
}

#gerar {
    color: white;
    background-color: green;
    height: 60px;
    margin-top: 5px;
    width: 100px;
    border-radius: 5px;
}

#gerar:active{
    transform: translate(2px, 3px);
}

.center-full {
    display: flex;
    text-align: center;
    align-items: center;
}

#number-list {
    width: 100%;
    display: flex;
}